{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
{{ form_start(form) }}
    {{ form_errors(form) }}
    {% for fieldname in form %}
    <div>
    {{ form_label(fieldname)}}
        <div>
            {{ form_widget(fieldname) }}
        </div>
    </div>
    {% endfor %}
    {{form_rest(form)}}
{{ form_end(form) }}
{% endblock %}

