{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
{{ form_start(form)}}
            {{ form_errors(form) }}
    <div>
        <div>
        {{ form_label(form.password)}}
            <div>
                {{ form_errors(form.password) }}
                {{ form_widget(form.password) }}
            </div>
        </div>
        <div>
            {{ form_label(form.passwordValidation)}}
            <div>
                {{ form_errors(form.passwordValidation) }}
                {{ form_widget(form.passwordValidation) }}
            </div>
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}

