{% extends 'base.html.twig' %}

{% block body %}
    <div class="user-display">
        <div>
            <div>Email:</div><div>{{ app.user.email }}</div>
        </div>
        <div>
            <div>First Name:</div><div>{{ app.user.firstName }}</div>
        </div>
        <div>
            <div>Last Name:</div><div>{{ app.user.lastName }}</div>
        </div>
        <div>
            <div>Phone n°:</div><div>{{ app.user.phone }}</div>
        </div>
        <div>
            <div>Site:</div><div>{{ app.user.site.name }}</div>
        </div>

        <div>
        <a href="{{ path('user_modify') }}"><button class="button">Modifier</button></a>
        <a href="{{ path('user_password') }}"><button class="button">Modifier mot de passe...</button></a>
        </div>
    </div>
{% endblock %}

{% block title %}
{{ app.user.firstname }}
{% endblock %}

