{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block javascripts%}
    {{ parent() }}
    {{ encore_entry_script_tags('create-hangout') }}
{% endblock %}

{% block body %}
    {{ form_start(hangoutForm) }}
    {{ form_widget(hangoutForm) }}
    {{ form_end((hangoutForm)) }}
    <div>
        <div>
            <div>City</div>
            <div id="create-form-city"></div>
        </div>
        <div>
            <div>Street</div>
            <div id="create-form-street"></div>
        </div>
        <div>
            <div>Postcode</div>
            <div id="create-form-postcode"></div>
        </div>
        <div>
            <div>Latitude</div>
            <div id="create-form-latitude"></div>
        </div>
        <div>
            <div>Longitude</div>
            <div id="create-form-longitude"></div>
        </div>
    </div>
{% endblock %}

