{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ hangout.name }}</h2>

    <div class="hangoutDetails">
        <p>{{ hangout.informations }}</p>
        <p>Creator : <a href="{{ path('user_profile', {'id': hangout.creator.id}) }}">{{ hangout.creator.firstName }}</a></p>
        <p>Site : {{ hangout.site.name }}</p>
        <p>Place : {{ hangout.place.name }}</p>
        <p>{{ hangout.startTimestamp | date('d/m/y H:i') }}</p>
        <p>Max number of participants : {{ hangout.maxSlots }}</p>
        <p>Free slots left : {{ hangout.maxSlots - (hangout.participants | length) }}</p>
        <p>State : {{ hangout.state.wording }}</p>
        {% if hangout.cancelReason is not empty %}
            <p>Cancel reasons : {{ hangout.cancelReason }}</p>
        {% endif %}
        <div class="hangout-details-participants-list">
            {% for person in hangout.participants %}
                <p>{{ person.firstName }}</p>
            {% endfor %}
        </div>
    </div>

    {% if (hangout.startTimestamp | date('U') > "now" | date('U')) %}
        <div class="hangout-details-buttons">
            <a href="{{ path('hangout_goingTo', {'idHangout': hangout.id}) }}">
                <button>Participate</button>
            </a>
            <a href="{{ path('hangout_notGoingAnymore', {'idHangout': hangout.id}) }}">
                <button>Withdraw</button>
            </a>
            {% if hangout.creator.id == app.user.id %}
                <a href="{{ path('hangout_cancel', {'idHangout': hangout.id}) }}">
                    <button>Cancel</button>
                </a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block title %}
    {{ parent() }} | hangout details
{% endblock %}