{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ hangout.name }}</h2>

    <div class="hangoutDetails">
        <p>{{ hangout.informations }}</p>
        <p>Creator : {{ hangout.creator.firstName }}</p>
        <p>Site : {{ hangout.site.name }}</p>
        <p>Place : {{ hangout.place.name }}</p>
        <p>{{ hangout.startTimestamp | date('d/m/y H:i') }}</p>
        <p>Max number of participants : {{ hangout.maxSlots }}</p>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} | hangout details
{% endblock %}