{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ hangout.name }}</h2>

    <div class="hangoutDetails">
        <p>{{ hangout.informations }}</p>
        <p>Creator : {{ hangout.creator.firstName }}</p>
        <p>Site : {{ hangout.site.name }}</p>
        <p>Place : {{ hangout.place.name }}</p>
        <p>{{ hangout.startTimestamp | date('d/m/y H:i') }}</p>
        <p>Max number of participants : {{ hangout.maxSlots }}</p>
        <div class="hangout-details-participants-list">
            {% for person in hangout.participants %}
                <p>{{ person.firstName }}</p>
            {% endfor %}
        </div>
    </div>

    {% if (hangout.startTimestamp | date('Y-m-d') > "now" | date('Y-m-d')) %}
        <div class="hangout-details-participation-buttons">
            <a href="{{ path('hangout_goingTo', {'idHangout': hangout.id}) }}">
                <button>Participate</button>
            </a>
            <a href="{{ path('hangout_notGoingAnymore', {'idHangout': hangout.id}) }}">
                <button>Withdraw</button>
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block title %}
    {{ parent() }} | hangout details
{% endblock %}