{% extends 'base.html.twig' %}

{% block body %}
    <div class="info-container">
        <div class="head-info">
            <h1>{{ hangout.name }}</h1>
            <p><i class="fa-solid fa-ticket"></i> {{ hangout.maxSlots - (hangout.participants | length) }}</p>
            <p><i class="fa-solid fa-map-location-dot"></i> {{ hangout.place.name }}</p>
            <p><i class="fa-solid fa-house"></i> {{ hangout.site.name }}</p>
        </div>
        <div class="hangout-details">
            <div class="main-info-block">
                <p>{{ hangout.informations }}</p>
            </div>
            <div class="side-info">
                <div class="side-info-text">
                    <div class="creator"><i class="fa-solid fa-pen-to-square"></i><a href="{{ path('user_profile', {'id': hangout.creator.id}) }}">{{ hangout.creator.firstName }}</a></div>
                    <div class="start-time"><i class="fa-regular fa-calendar"></i><p>{{ hangout.startTimestamp | date('d/m/y H:i') }}</p></div>
                    {{ hangout.state | status }}
                    {% if hangout.cancelReason is not empty %}
                    <p>Cancel reasons : {{ hangout.cancelReason }}</p>
                    {% endif %}
                    <div class="hangout-details-participants-list">
                        <i class="fa-solid fa-users"></i>
                        <ul>
                        {% for person in hangout.participants %}
                            <li><a href="{{ path('user_profile', {'id': person.id}) }}">{{ person.firstName }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                {% if (hangout.startTimestamp | date('U') > "now" | date('U')) %}
                {% if hangout.state == 'reg_open' %}
                <div class="hangout-details-buttons">
                    {% if app.user not in hangout.participants %}
                    <a href="{{ path('hangout_goingTo', {'idHangout': hangout.id}) }}">
                        <button class="button">Participate</button>
                    </a>
                    {% endif %}
                    {% if app.user in hangout.participants %}
                    <a href="{{ path('hangout_notGoingAnymore', {'idHangout': hangout.id}) }}">
                        <button class="button">Withdraw</button>
                    </a>
                    {% endif %}
                    {% if hangout.creator.id == app.user.id %}
                    <a href="{{ path('hangout_cancel', {'idHangout': hangout.id}) }}">
                        <button class="button">Cancel</button>
                    </a>
                </div>
                {% endif %}
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} | hangout details
{% endblock %}