{% extends 'base.html.twig' %}

{% block body %}
    <h2>Join Us for a Hangout !</h2>
        {{ form_start(form, {'attr':{'class': 'filters'}}) }}
        <div class="siteFilter">{{ form_row(form.site)}}</div>
        <div class="nameFilter">{{ form_row(form.searchQuery) }}</div>
        <div class="dateFilter">
            {{ form_row(form.from) }}
            {{ form_row(form.to) }}
        </div>
        <div class="checkFilters">
            <div class="check">
                {{ form_widget(form.isOrganizer) }}
                {{ form_label(form.isOrganizer) }}
            </div>
            <div class="check">
                {{ form_widget(form.isSubscribed) }}
                {{ form_label(form.isSubscribed) }}
            </div>
            <div class="check">
                {{ form_widget(form.isNotSubscribed) }}
                {{ form_label(form.isNotSubscribed) }}
            </div>
            <div class="check">
                {{ form_widget(form.isExpired) }}
                {{ form_label(form.isExpired) }}
            </div>
        </div>
        <div class="filterButton">
            {{ form_row(form.filter) }}
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}

    <section class="hangoutContainer">
        {% for hangout in hangouts %}
            {% include 'components/hangout.html.twig' %}
        {% endfor %}
        <a href="{{ path('hangout_create') }}"><button class="createHangoutButton">Create</button></a>
    </section>
{% endblock %}

{% block title %}
{{ parent() }} | hangout list
{% endblock %}

