<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Sortir.com{% endblock %}</title>

{#    <link rel="stylesheet" href="{{ asset('css/app.css') }}">#}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<header>
    <a href="{{ path('hangout_list') }}"><h1 class="site-logo">Sortir</h1></a>
    {% if app.user %}
    {% endif %}
    <button class="button menu-button">Menu</button>
    {% include 'inc/nav.html.twig' %}
</header>
<div id="app">
    <div class="flash-messages">
        {% for label, messages in app.flashes %}
            {% for message in  messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
        <main>
            {% block body %}{% endblock %}
        </main>
        {% include 'inc/footer.html.twig' %}
    </div>
</body>
</html>