<div class="hangout">
    <a href="{{ path('hangout_details', {'id': hangout.id}) }}">
        <div class="hangout-img">
            <img src="{{ asset('img/default-hangout-256.png') }}" alt="default hangout"/>
        </div>
        <div class="hangout-text">
            <p class="hangout-site">{{ hangout.site.name }}</p>
            <p class="hangout-start-timestamp">{{ hangout.startTimestamp | date('d/m/y H:i') }}</p>
            <p class="hangout-capacity">
                <span class="hangout-participants">
                    {{ hangout.participants | length }}
                </span>/
                <span class="hangout-total-slots">
                  {{ hangout.maxSlots }}
                </span>
            </p>
            <p class="hangout-name">{{ hangout.name }}</p>
        </div>
    </a>
    <div class="users-going">
        <p>Going:
        {% for person in hangout.participants %}
            <a href="{{ path('user_profile', {'id': person.id}) }}">{{ person.firstName }}</a>
        {% endfor %}
        </p>
    </div>
</div>