<nav>
    <ul>
        {% if app.user %}
            {% if app.user.administrator %}
                <li><a href="{{ path('admin') }}" target="_blank">Admin</a></li>
            {% endif %}
        {% endif %}
        {% if app.user %}
            <li class="profile-pic-navbar">
                <a href="{{ path('user_view') }}">
                <div>
                    {% if app.user.imageUrl %}
                    <img src="{{ asset('uploads/userImages/' ~ app.user.imageUrl) }}" alt="profile picture"/>
                    {% else %}
                    <img src="{{ asset('img/Default_pfp.jpg') }}" alt="profile picture"/>
                    {% endif %}
                </div>
                </a>
            </li>
            <li><a href="{{ path('app_logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ path('app_login') }}">Login</a></li>
            <li><a href="#">Register</a></li>
        {% endif %}
    </ul>
</nav>