<nav>
    <ul>
        <li><a href="{{ path('user_create') }}">Users</a></li>|
        <li><a href="{{ path('city_list') }}">Cities</a></li>|
        <li><a href="{{ path('place_list') }}">Places</a></li>|
        <li><a href="{{ path('site_list') }}">Sites</a></li>|
        <li><a href="{{ path('hangout_list') }}">Home</a></li>|
        <li><a href="{{ path('user_view') }}">Profile</a></li>|
        {% if app.user %}
            <li><a href="{{ path('app_logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ path('app_login') }}">Login</a></li>|
            <li><a href="#">Register</a></li>
        {% endif %}
    </ul>
</nav>