<nav>
    <ul>
        <li><a href="{{ path('admin') }}" target="_blank">Admin</a></li>
        <li><a href="{{ path('city_list') }}"><p>Cities</p></a></li>
        <li><a href="{{ path('place_list') }}"><p>Places</p></a></li>
        <li><a href="{{ path('site_list') }}"><p>Sites</p></a></li>
        <li><a href="{{ path('test_home') }}"><p>Test</p></a></li>
        <li><a href="{{ path('user_create') }}">Users</a></li>
        {% if app.user %}
            <li class="profile-pic-navbar">
                <a href="{{ path('user_view') }}">
                <div>
                    {% if app.user.imageUrl %}
                    <img src="{{ asset('uploads/userImages/' ~ app.user.imageUrl) }}" alt="profile picture"/>
                    {% else %}
                    <img src="{{ asset('img/Default_pfp.jpg') }}" alt="profile picture"/>
                    {% endif %}
                </div>
                <p>Profile</p>
                </a>
            </li>
            <li><a href="{{ path('app_logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ path('app_login') }}">Login</a></li>
            <li><a href="#">Register</a></li>
        {% endif %}
    </ul>
</nav>